<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{% endblock %}</title>
	<base href="{{ base }}" />
	<link rel="stylesheet" href="static/flow.css">
	<link rel="stylesheet" href="static/core.css">
</head>
<body>
	<div class="navbar">
		<div class="dropdown">
			<button class="dropbtn">
				Classes
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				{%- for rpg_class in classes -%}
					<a href="base-classes/{{ rpg_class.id }}.html">{{ rpg_class.name }}</a>
				{%- endfor -%}
			</div>
		</div>
		<div class="dropdown">
			<button class="dropbtn">
				Races
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				{%- for race in races -%}
					<a href="races/{{ race.id }}.html">{{ race.name }}</a>
				{%- endfor -%}
			</div>
		</div>
		<div class="dropdown">
			<button class="dropbtn">
				Characters
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				{%- for character in characters -%}
				<a href="characters/{{ character.id }}.html">{{ character.name }}</a>
				{%- endfor -%}
			</div>
		</div>
			<a href="license.html">
				License
			</a>
	</div>
	{% block content %}
	{% endblock %}
</html>
