{% macro field(value, label,
	is_mod=False,
	is_value_calculated=False,
	is_optional=False) -%}
{%- if not is_optional or value -%}

<div class="squeeze">
	<div class="card">
		<div class="label">
			{{ label }}
		</div>
		<div>
			{%- if is_value_calculated -%}
				{{ show_calculation(value, is_mod=is_mod) }}
			{%- else -%}
				{{ value | mod if is_mod else value }}
			{%- endif -%}
		</div>
	</div>
</div>
{%- endif -%}
{%- endmacro -%}

{%- macro link(value, type) -%}
	<a href="{{ type }}/{{ value.lower() }}.html">{{ value }}</a>
{%- endmacro -%}

{%- macro linked_field(value, type, label) -%}
	{{ field(link(value, type), label) }}
{%- endmacro -%}

{%- macro show_calculation(calc, is_mod) -%}
	{{ calc.total | mod if is_mod else calc.total}}
	<span class="tooltip">🛈
		<span class="tooltiptext">
			{{ calc.expanded }}
		</span>
	</span>
{%- endmacro-%}
