{%- import '_helpers.html.j2' as helpers -%}

{% extends "_base.html.j2" %}
{% block title %}Races - {{ page_model.name }}{% endblock %}
{% block content %}
	<h1>{{ page_model.name }}</h1>
	<div class="row">
	{{ helpers.field(page_model.size, 'Size') }}
	{{ helpers.field(page_model.type, 'Type') }}
	</div>
<div class="main-content">
	<div class="row">
		{{ page_model.text | markdown }}
		<h2>{{ page_model.name }} Racial Traits</h2>
		<ul>
		{%- for trait in page_model.racial_traits -%}
			<li id="{{trait.name}}">
			{{ ("**" + trait.name + ":** " + trait.text) | markdown }}
			</li>

		{%- endfor -%}
		</ul>
		<h2>Alternate Racial Traits</h2>
		<p>The following racial traits may be selected instead of existing
		{{ page_model.name }} racial traits. Consult your GM before selecting any
		of these new options.
		</p>
		{%- for subtype, text in page_model.alternate_traits.items() -%}
			<p>
				{{ ("**" + subtype + ":** " + text) | markdown }}
			</p>
		{%- endfor -%}
		<h2>Racial Subtypes</h2>
		<p>You can combine various alternate racial traits to create
		{{ page_model.name }} subraces or variant races, such as the following.
		</p>
		{%- for subtype, text in page_model.racial_subtypes.items() -%}
			<p>
				{{ ("**" + subtype + ":** " + text) | markdown }}
			</p>
		{%- endfor -%}
		<h2>Favored Class Options</h2>
		<p>The following options are available to any {{ page_model.name }} who
		have the listed favored class, and unless otherwise stated, the
		bonus applies each time you select the class reward.</p>
		{%- for class, bonus in page_model.favored_class_bonus.items() -%}
			<p>
				{{ ("**" + class + ":** " + bonus) | markdown }}
			</p>
		{%- endfor -%}
	</div>
</div>
{% endblock %}
