<details>
	<summary><h2>Ability Scores</h2></summary>
<div class="card">
<table>
	<thead>
		<tr>
			<th>Ability</th>
			<th>Score</th>
			<th>Mod</th>
		</tr>
	</thead>
	<tr>
		<td>Str</td>
		<td>{{ page_model.ability_scores.str }}</td>
		<td>{{ page_model.ability_scores.get_str_mod() | mod }}</td>
	</tr>
	<tr>
		<td>Dex</td>
		<td>{{ page_model.ability_scores.dex }}</td>
		<td>{{ page_model.ability_scores.get_dex_mod() | mod }}</td>
	</tr>
	<tr>
		<td>Con</td>
		<td>{{ page_model.ability_scores.con }}</td>
		<td>{{ page_model.ability_scores.get_con_mod() | mod }}</td>
	</tr>
	<tr>
		<td>Int</td>
		<td>{{ page_model.ability_scores.int }}</td>
		<td>{{ page_model.ability_scores.get_int_mod() | mod }}</td>
	</tr>
	<tr>
		<td>Wis</td>
		<td>{{ page_model.ability_scores.wis }}</td>
		<td>{{ page_model.ability_scores.get_wis_mod() | mod }}</td>
	</tr>
	<tr>
		<td>Cha</td>
		<td>{{ page_model.ability_scores.cha }}</td>
		<td>{{ page_model.ability_scores.get_cha_mod() | mod }}</td>
	</tr>
</table>
</div>
</details>
