<div class="squeeze">
	<h3>Saves</h3>
	{{ helpers.field(page_model.fort_save, 'Fort', is_mod=True, is_value_calculated=True) }}
	{{ helpers.field(page_model.ref_save, 'Ref', is_mod=True, is_value_calculated=True) }}
	{{ helpers.field(page_model.will_save, 'Will', is_mod=True, is_value_calculated=True) }}
</div>
<div class="squeeze">
	<h3>AC</h3>
	{{ helpers.field(page_model.get_ac(), 'AC', is_value_calculated=True) }}
	{{ helpers.field(page_model.get_ac(touch=True), 'Touch', is_value_calculated=True) }}
	{{ helpers.field(page_model.get_ac(flat=True), 'Flat', is_value_calculated=True) }}
</div>
<div class="squeeze">
	<h3>&nbsp</h3>
	{%- for cmd in page_model.cmd -%}
		{% set label = 'CMD' + (' (' + cmd.name + ')' if cmd.name else '') %}
		{{ helpers.field(cmd.calculation, label, is_value_calculated=True) }}
	{%- endfor -%}
</div>
