
{%- macro get_class_text(character) -%}
	{%- set first = true -%}
	{%- for class in character.class_levels -%}
		{%- if first -%}
			{%- set first = false -%}
		{%- else -%}
			/
		{%- endif -%}
		{{ helpers.link(class.class_.name, "classes")  }} {{ class.level}}
	{%- endfor -%}
{%- endmacro -%}

<details>
	<summary><h1>{{ page_model.name }}</h1></summary>
	{{ helpers.field(page_model.alignment, 'Alignment') }}
	{{ helpers.linked_field(page_model.race.name, 'races', 'Race') }}
	{{ helpers.field(page_model.race.size[0], 'Size') }}
	{{ helpers.field(get_class_text(page_model), 'Class') }}
	{{ helpers.field(page_model.description.region, 'Region', is_optional=True) }}
	{{ helpers.field(page_model.description.gender, 'Gender', is_optional=True) }}
	{{ helpers.field(page_model.description.age, 'Age', is_optional=True) }}
	{{ helpers.field(page_model.description.height, 'Height', is_optional=True) }}
	{{ helpers.field(page_model.description.weight, 'Weight', is_optional=True) }}
	{{ helpers.field(page_model.description.hair, 'Hair', is_optional=True) }}
	{{ helpers.field(page_model.description.eyes, 'Eyes', is_optional=True) }}
	{{ helpers.field(page_model.diety, 'Diety', is_optional=True) }}
</details>
