<div class="row">
	{{ helpers.field(page_model.speed, 'Speed') }}
	{{ helpers.field(page_model.bab, 'BAB', is_mod=True) }}
	{%- for cmb in page_model.cmb -%}
		{% set label = 'CMB' + (' (' + cmb.name + ')' if cmb.name else '') %}
		{{ helpers.field(cmb.calculation, label, is_mod=True, is_value_calculated=True) }}
	{%- endfor -%}
</div>

{%- for attack in page_model.attacks -%}
<div class="row">
	<div class="squeeze">
		<div class="card">
		{{ attack.name }}
		{{ helpers.show_calculation(attack.to_hit, is_mod=True) }}
		({{ helpers.show_calculation(attack.damage) }} / {{ attack.critical }})
		{{ attack.damage_type }}
		{% if attack.range -%}
		{{ attack.range }} ft.
		{%- endif %}
		</div>
	</div>
</div>
{%- endfor -%}
