<details>
	<summary><h2>Skills</h2></summary>
<div class="card">
{%- for skill in skills -%}
{%- if not skill.trained_only or page_model.get_skill_ranks(skill.name) > 0 -%}
{%- set skill_calc = page_model.get_skill_calculation(skill) -%}
<div class="row">
	<div class="col-6"><a href="skills\{{ skill.id }}.html" >{{ skill.name }}</a></div>
	<div class="col-1">{{ skill.ability_score }}</div>
	<div class="col-1"></div>
	{{ helpers.show_calculation(skill_calc, is_mod=True) }}
</div>
{%- endif -%}
{%- endfor -%}
</div>
</details>
