{%- import '_helpers.html.j2' as helpers -%}

{% extends "_base.html.j2" %}


{%- set HEADINGS = (
	'0th',
    '1st',
    '2nd',
    '3rd',
    '4th',
    '5th',
    '6th',
    '7th',
    '8th',
    '9th',
)
-%}
{%- set max_spell_levels = page_model.get_spells_per_day_at_level(page_model.max_level) -%}

{% block title %}Classes - {{ page_model.name }}{% endblock %}
{% block content %}
	<h1>{{ page_model.name }}</h1>
	<div class="row">
	{{ helpers.field(page_model.hit_die, 'Hit Die') }}
	{{ helpers.field(page_model.skill_ranks_per_level, 'Skills Ranks') }}
	</div>
	<table class="classOverview">
		<tr>
		<th rowspan="2">Level</th>
		<th rowspan="2">Base Attack Bonus</th>
		<th rowspan="2">Fort Save</th>
		<th rowspan="2">Ref Save</th>
		<th rowspan="2">Will Save</th>
		<th rowspan="2">Features</th>

		{%- if page_model.spell_list -%}
			<th colspan="{{ max_spell_levels | length }}">
				Spells Per Day
			</th>
			</tr>
			<tr>
			{%- for heading in HEADINGS -%}
				{%- if loop.index0 in max_spell_levels -%}
					<th> {{ heading }} </th>
				{%- endif -%}
			{%- endfor -%}
		{%- else -%}
		</tr>
		<tr>
		{%- endif -%}
		</tr>

		{%- for row in page_model.get_table_rows() -%}
			<tr>
				<td>{{ row.level }}</td>
				<td>+{{ row.bab }}</td>
				<td>+{{ row.fort_save }}</td>
				<td>+{{ row.ref_save }}</td>
				<td>+{{ row.will_save }}</td>
				<td class="feature">{{ row.features | markdown }}</td>
				{%- if page_model.spell_list -%}
					{%- for heaing in HEADINGS -%}
						{%- if loop.index0 in row.spell_per_day -%}
							<td>{{ row.spell_per_day[loop.index0] }}</td>
						{%- elif loop.index0 in max_spell_levels -%}
							<td>-</td>
						{%- endif -%}
					{%- endfor -%}
				{%- endif -%}
			</tr>
		{%- endfor -%}
	</table>
<div class="main-section">
	{%- for feature in page_model.class_features -%}
	<div class="row" id="{{feature.name}}">
		<h2>{{ feature.name | markdown }}</h2>
		{{ feature.text | markdown }}
	</div>
	{%- endfor -%}
</div>
{% endblock %}
