{%- import '_helpers.html.j2' as helpers -%}

{% extends "_base.html.j2" %}
{% block title %}Spell - {{ page_model.name }}{% endblock %}
{% block content %}
	<h1>{{ page_model.name }}</h1>
<div class="main-content">
<div class="row">
	{%- for spell_list in page_model.spell_lists -%}
		{{ helpers.field(spell_list.level, spell_list.name )}}
	{%- endfor -%}
</div>
	{%- set spell = page_model -%}
	{% include 'spells/_spell_body.html.j2' %}
</div>
{% endblock %}
