 /* Navbar container */
.navbar {
  background-color: #3E0900;
}

body {
  background-color: rgb(244, 241, 215);
}

/* Links inside the navbar */
.navbar a {
  color: white;
}

/* Dropdown button */
.dropdown .dropbtn {
  color: white;
}

.card {
	background-color: #C1BEAA;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #8A1400;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  background-color: #FFFDE0;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #D61F00;
}

.classOverview th {
    background-color:#C1BEAA;
    padding-left:10px;
    padding-right:10px;
}
.classOverview td { border:1px dotted #C1BEAA; }

.classOverview tr:nth-child(odd) { background-color: #e8e5d3 }
