* {
	box-sizing: border-box;
}

.main-section {
  width: 50%;
	float: left;
}

@media screen and (max-width: 800px) {
  .main-section {width: 100%}
}

@media screen and (pointer:coarse) {
  ::marker {
    /* 2em seems big, so bumped down to 1.5. Can go higher, if there are still issues.*/
    font-size: 1.5em;
  }
}

.col-1 {width: 8.33%;}
.col-6 {width: 50%;}
.col-12 {width: 100%;}

.label {
	transform: scale(.7);
	transform-origin: 0 0;
	text-align: left;
}

.row {
	border-radius: 10px;
}

.card {
	border-radius: 10px;
	padding: 10px;
}

.squeeze {
	float: left;
	padding: 5px;
}


[class*="col-"] {
	float: left;
	padding: 5px;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}


 /* Navbar container */
.navbar {
  overflow: hidden;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

summary * {
  display: inline;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.classOverview { border-collapse: collapse; }
.classOverview td { margin: 5px; text-align: center; }
.classOverview td.feature {text-align: left; }
.classOverview td p, .classOverview th {
  margin: 5px;
}
